
*.json
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
*.cache
*.json
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfoInputs.cache
TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfo.cs
TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfoInputs.cache
TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfo.cs
*.cache
TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfoInputs.cache
/.vs/Team3Workshop4/DesignTimeBuild/.dtbcache.v2
/.vs/Team3Workshop4/v17/.suo
/.vs/Team3Workshop4/DesignTimeBuild/.dtbcache.v2
/Team3Workshop4/obj/Debug/net8.0-windows/apphost.exe
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfoInputs.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.assets.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.csproj.AssemblyReference.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.csproj.CoreCompileInputs.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.csproj.FileListAbsolute.txt
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.csproj.GenerateResource.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.designer.runtimeconfig.json
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.dll
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.GeneratedMSBuildEditorConfig.editorconfig
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.genruntimeconfig.cache
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.pdb
/Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.sourcelink.json
/Team3Workshop4/obj/project.assets.json
/Team3Workshop4/obj/project.nuget.cache
/Team3Workshop4/obj/Team3Workshop4.csproj.nuget.dgspec.json
/Team3Workshop4/obj/Team3Workshop4.csproj.nuget.g.props
/Team3Workshop4/obj/Debug/net8.0-windows/refint/Team3Workshop4.dll
/Team3Workshop4/obj/Debug/net8.0-windows/ref/Team3Workshop4.dll
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfo.cs
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfoInputs.cache
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.assets.cache
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.dll
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.genruntimeconfig.cache
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.pdb
/TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.sourcelink.json
/TravelExpertsData/obj/project.assets.json
/TravelExpertsData/obj/project.nuget.cache
/TravelExpertsData/obj/TravelExpertsData.csproj.nuget.dgspec.json
/TravelExpertsData/obj/TravelExpertsData.csproj.nuget.g.props
/TravelSources/obj/Debug/net8.0/ref/TravelSources.dll
/TravelSources/obj/Debug/net8.0/refint/TravelSources.dll
/TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfo.cs
/TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfoInputs.cache
/TravelSources/obj/Debug/net8.0/TravelSources.assets.cache
/TravelSources/obj/Debug/net8.0/TravelSources.csproj.AssemblyReference.cache
/TravelSources/obj/Debug/net8.0/TravelSources.csproj.CoreCompileInputs.cache
/TravelSources/obj/Debug/net8.0/TravelSources.dll
/TravelSources/obj/Debug/net8.0/TravelSources.pdb
/TravelSources/obj/Debug/net8.0/TravelSources.sourcelink.json
/TravelSources/obj/project.assets.json
/TravelSources/obj/project.nuget.cache
/TravelSources/obj/TravelSources.csproj.nuget.dgspec.json
/TravelSources/obj/TravelSources.csproj.nuget.g.props
/TravelExpertsData/bin/Debug/net8.0/TravelExpertsData.dll
/TravelExpertsData/bin/Debug/net8.0/TravelExpertsData.pdb
/TravelExpertsData/obj/Debug/net8.0/ref/TravelExpertsData.dll
/TravelExpertsData/obj/Debug/net8.0/refint/TravelExpertsData.dll
/TravelSources/bin/Debug/net8.0/TravelExpertsData.dll
/TravelSources/bin/Debug/net8.0/TravelExpertsData.pdb
/TravelSources/bin/Debug/net8.0/TravelSources.dll
*.pdb
/.vs/ProjectEvaluation/team3workshop4.metadata.v7_BACKUP_1621.bin
/.vs/Team3Workshop4/v17/.suo
