
*.json
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
*.cache
*.json
