
*.json
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
*.cache
*.json
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfo.cs
Team3Workshop4/obj/Debug/net8.0-windows/Team3Workshop4.AssemblyInfoInputs.cache
TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfo.cs
TravelExpertsData/obj/Debug/net8.0/TravelExpertsData.AssemblyInfoInputs.cache
TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfo.cs
*.cache
TravelSources/obj/Debug/net8.0/TravelSources.AssemblyInfoInputs.cache
