@model TravelExpertsData.Customer

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>Update Password</h1>

<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <dt><label asp-for="Username" class="control-label"></label></dt>
                <input asp-for="Username" class="form-control" readonly />                
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <dt><label for="Password"> New Password</label></dt>
                    <input id="Password" type="password" asp-for="Password" class="form-control"
                           placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <dt><label for="ConfirmPassword">Confirm New Password</label></dt>
                    <input id="ConfirmPassword" type="password" asp-for="ConfirmPassword" class="form-control"
                           placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "CustomerInfo", new { id = Model.CustomerId }, new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
