@* By: Elias Nahas *@

@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>
<h3>Your number one choice for all your travel needs</h3>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="~/images/maldives.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            Established in 2003, we strive to give you the ultimate,
            full-service travel experience. With two locations in
            Calgary and Okotoks, as well as a full-featured website,
            we aim to be your go-to for all your travel needs.
        </p>
        <p>
            We are the leading international tourism company
            in Southern Alberta, providing travel packages,
            air travel, hotel stays, and any rentals required
            for a relaxing holiday.
        </p>
        <p>
            Contact one of our agents today.
        </p>
    </div>
</div>
