@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h3>Some subheading to catch the eye</h3>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="~/images/maldives.jpg" />
    </div>
    <div class="col-md-6">
        Temporary placeholder text
    </div>
</div>
