@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<h3>Your number one choice for all your travel needs</h3>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="~/images/maldives.jpg" />
    </div>
    <div class="col-md-6">
        Established in 2003, we strive to give you the ultimate,
        headache free travel experience.
    </div>
</div>
